@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: #0f0f1f;
  color: white;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}
